<ht-header mode="public"></ht-header>

<div class="container-fluid">
  <div class="row" ui-view="content"></div>
</div>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-5" style="vertical-align: middle">
        <span style="padding-right: 30px">© 2015 HotTrophy.</span>

        <a href="#">About</a>
        <a href="#">Support</a>
        <a href="#">Forum</a>
        <a href="#">Contact</a>

      </div>
      <div class="col-md-2" style="text-align: center">
        <i class="fa fa-trophy" style="font-size: 2em"></i>
      </div>
      <div class="col-md-5">
        <div class="pull-right">
          <a href="#" title="Visit us on Google"><i class="fa fa-google-plus" style="font-size: 1.6em"></i></a>
          <a href="#" title="Visit us on Facebook"><i class="fa fa-facebook" style="font-size: 1.6em"></i></a>
          <a href="#" title="Follow us on Twitter"><i class="fa fa-twitter" style="font-size: 1.6em"></i></a>
        </div>

      </div>
    </div>
  </div>
</footer>
