<div class="home-banner">

  <div class="container">

    <div class="row">
      <div class="col-md-6">

        <h1>Generate tournaments <br/>better, faster </h1>

        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati!
        </p>

        <div class="row" style="margin-top: 25px">
          <div class="col-md-12">
            <!--<button class="btn btn-lg btn-block btn-primary">Try it</button>-->
            <!--<button class="btn btn-lg btn-info" style="width: 200px; margin-right: 15px">Try it</button>-->
            <!--<button class="btn btn-lg btn-primary" style="width: 200px">Register</button>-->
          </div>
        </div>
      </div>

      <div class="col-md-6" style="margin-top: 120px;">

        <form name="htHome.registerForm" class="login-form" novalidate>


          <div class="form-group">
            <input ng-model="htHome.username" name="username" class="form-control" ng-required="true" type="text" placeholder="Pick a username">
            <ng-messages for="htHome.registerForm.username.$error" role="alert" ng-show="htHome.registerForm.username.$dirty">
              <ng-message when="required">This field is required</ng-message>
            </ng-messages>
          </div>

          <div class="form-group">
            <input name="email" ng-model="htHome.email" class="form-control" ng-required="true" type="email" placeholder="Your Email">
            <ng-messages for="htHome.registerForm.email.$error" role="alert" ng-show="htHome.registerForm.email.$dirty">
              <ng-message when="required">This field is required</ng-message>
              <ng-message when="email">This is not a valid email address</ng-message>
            </ng-messages>
          </div>

          <div class="form-group">
            <input name="password" ng-model="htHome.password" ng-minlength="4" ng-required="true" class="form-control" type="password" placeholder="Create a password">
            <ng-messages for="htHome.registerForm.password.$error" role="alert" ng-show="htHome.registerForm.password.$dirty">
              <ng-message when="required">This field is required</ng-message>
              <ng-message when="minlength">The minimum length is 4</ng-message>
            </ng-messages>
          </div>


          <br/>


          <button ng-disabled="htHome.registerForm.$invalid" class="btn btn-lg btn-primary" style="width: 200px" ng-click="htHome.register()">Sign up</button>


        </form>


      </div>

    </div>
  </div>


</div>


<div class="container theme-showcase" role="main">

  <div class="row feature">
    <div class="col-sm-12">
      <h1>Features</h1>
    </div>

    <div class="col-md-3 feature-items">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
      </span>
      <h4>Title</h4>

      <p>
        Lorem ipsum dolor sit amet, consectetur ing elit, sed do eiusmod tempor didunt utem labore et dolore magna.
      </p>
    </div>

    <div class="col-md-3 feature-items">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
      </span>
      <h4>Title</h4>

      <p>
        Lorem ipsum dolor sit amet, consectetur ing elit, sed do eiusmod tempor didunt utem labore et dolore magna.
      </p>
    </div>

    <div class="col-md-3 feature-items">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
      </span>
      <h4>Title</h4>

      <p>
        Lorem ipsum dolor sit amet, consectetur ing elit, sed do eiusmod tempor didunt utem labore et dolore magna.
      </p>
    </div>

  </div>

</div> <!-- /container -->
